@font-face {
    font-family: 'a_AvanteLt';
    src: url('../fonts/AAvanteLtDemiBoldItalic.woff2') format('woff2'),
        url('../fonts/AAvanteLtDemiBoldItalic.woff') format('woff'),
        url('../fonts/AAvanteLtDemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'a_AvanteLt';
    src: url('../fonts/AAvanteLtLight.woff2') format('woff2'),
        url('../fonts/AAvanteLtLight.woff') format('woff'),
        url('../fonts/AAvanteLtLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'a_AvanteLt';
    src: url('../fonts/AAvanteLtLightItalic.woff2') format('woff2'),
        url('../fonts/AAvanteLtLightItalic.woff') format('woff'),
        url('../fonts/AAvanteLtLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'a_AvanteLt';
    src: url('../fonts/AAvanteLtDemiBold.woff2') format('woff2'),
        url('../fonts/AAvanteLtDemiBold.woff') format('woff'),
        url('../fonts/AAvanteLtDemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}



